.book-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book-item {
  background-color: var(--bg-color);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.book-item-info {
  flex-grow: 1;
}

.book-item-info h3 {
  margin: 0 0 0.25rem 0;
  color: var(--primary-color);
  font-weight: 600;
}

.book-item-info p {
  margin: 0;
  font-style: italic;
  color: var(--secondary-color);
}

.book-item-status {
  flex-shrink: 0;
}

.badge {
  padding: 0.4rem 0.75rem;
  border-radius: 12px;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
}

.badge-owned {
  background-color: var(--primary-color);
}
.badge-reading {
  background-color: #ffc400;
}
.badge-tobuy {
  background-color: #5d2f77;
}

.book-item-actions {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0;
}

.btn-edit {
  background-color: transparent;
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-color);
}
.btn-edit:hover {
  background-color: var(--primary-color);
  color: white;
}

.empty-list-message {
  text-align: center;
  font-size: 1.1rem;
  color: var(--secondary-color);
  padding: 2rem;
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}
